<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensor Data</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 500px"></div>
    <div id="messages"></div>

    <script>
      const map = L.map("map").setView([0, 0], 2); // Set initial map view
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
        map
      );

      const socket = new WebSocket("{{ ws_url }}");

      socket.addEventListener("open", (event) => {
        console.log("WebSocket connected!");
      });

      socket.addEventListener("message", (event) => {
        console.log("message ", event.data);
        const sensorData = JSON.parse(event.data);
        for (const dataItem of sensorData) {
          const lat = dataItem.fields.latitude;
          const lon = dataItem.fields.longitude;
          const speed = dataItem.fields.vehicle_speed;
          const marker = L.marker([lat, lon]).addTo(map);
          marker.bindPopup(`Vehicle Speed: ${speed} km/h`).openPopup();
        }
        console.log(sensorData);
      });

      socket.addEventListener("close", (event) => {
        console.log("WebSocket closed:", event);
      });
    </script>
  </body>
</html>
