{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensor Data</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  </head>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <div id="map" style="width: 100%; height: 500px"></div>
        </div>
        <div class="col-md-6">
          <div id="chart-container">
            <canvas id="bar-chart" class="mb-4"></canvas>
            <canvas id="line-chart" class="mb-4"></canvas>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12">
          <form id="query-form">
            <!-- Row for Location Input -->
            <div class="form-row mb-3">
              <div class="col">
                <label for="location">Location</label>
                <input
                  type="text"
                  class="form-control"
                  id="location"
                  placeholder="lat,lon"
                />
              </div>
            </div>

            <!-- Row for Speed Ranges -->
            <div class="form-row mb-3">
              <div class="col">
                <label for="min-speed"
                  >Min Speed: <span id="min-speed-val">0</span></label
                >
                <input
                  type="range"
                  class="custom-range"
                  id="min-speed"
                  min="0"
                  max="150"
                  value="0"
                  oninput="updateValue('min-speed', 'min-speed-val')"
                />
              </div>
              <div class="col">
                <label for="max-speed"
                  >Max Speed: <span id="max-speed-val">200</span></label
                >
                <input
                  type="range"
                  class="custom-range"
                  id="max-speed"
                  min="0"
                  max="200"
                  value="200"
                  oninput="updateValue('max-speed', 'max-speed-val')"
                />
              </div>
            </div>

            <!-- Row for Speed Limit Ranges -->
            <div class="form-row mb-3">
              <div class="col">
                <label for="min-speed-limit"
                  >Min Speed Limit:
                  <span id="min-speed-limit-val">0</span></label
                >
                <input
                  type="range"
                  class="custom-range"
                  id="min-speed-limit"
                  min="0"
                  max="150"
                  value="0"
                  oninput="updateValue('min-speed-limit', 'min-speed-limit-val')"
                />
              </div>
              <div class="col">
                <label for="max-speed-limit"
                  >Max Speed Limit:
                  <span id="max-speed-limit-val">200</span></label
                >
                <input
                  type="range"
                  class="custom-range"
                  id="max-speed-limit"
                  min="0"
                  max="150"
                  value="150"
                  oninput="updateValue('max-speed-limit', 'max-speed-limit-val')"
                />
              </div>
            </div>

            <!-- Row for Date Pickers -->
            <div class="form-row mb-3">
              <div class="col">
                <label for="start-date">Start Date</label>
                <input type="date" class="form-control" id="start-date" />
              </div>
              <div class="col">
                <label for="end-date">End Date</label>
                <input type="date" class="form-control" id="end-date" />
              </div>
            </div>

            <!-- Row for Submit Button -->
            <div class="form-row">
              <div class="col">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="search-button"
                  onclick="sendQuery()"
                >
                  Search
                  <div
                    class="spinner-border spinner-border-sm text-light"
                    id="spinner"
                    role="status"
                    hidden
                  >
                    <span class="sr-only">Loading...</span>
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">
      //  Render Django context data into JavaScript variables
      const ws_url = "{{ ws_url }}";
      const icon_url = "{{ icon_url }}";

      function updateValue(inputId, outputId) {
        document.getElementById(outputId).textContent =
          document.getElementById(inputId).value;
      }

      // Spinner
      let isLoading = false;

      function setLoading(loading) {
        isLoading = loading;
        document.getElementById("spinner").hidden = !loading;
      }
    </script>

    <!-- Include  separate JavaScript files -->
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>
  </body>
</html>
